*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
}

header {
    padding: 20px;
    background-color: white;
}

.logo {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 80px;
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 20px;
}

#container {
    width: 60%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    padding: 10px;
}

.bottone1 {
    background-color: #47ADF1;
    color: white;
    border-radius: 10%;
    border: 0;
    margin-top: 40px;
    padding: 10px;
    }

.bottone2 {
    background-color: white;
    border-radius: 10%;
    border: 2px solid;
    margin-top: 40px;
    padding: 10px;
    color: #D3D7DB
}

main {
    line-height: 30px;
}

#container2 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 2px;
    padding: 40px;
    border-radius: 5px;
}

.list {
    list-style: none;
    font-size: 16px;
    margin-top: 10px;
}

#container3 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 40px;
}

#container4 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 40px;
}

h1::before {
    content: '\25BC';
    font-size: 13px;
}

.checkboxS {
    color: #79CAB6;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    line-height: 20px;
}

.checkboxN {
    color: #EB645E;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    line-height: 20px;
}

.categoria-1 {
    background-color: #45ABEA;
    color: white;
    display: inline-block;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

.categoria-2 {
    background-color: #9C72E4;
    color: white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

.categoria-3 {
    background-color: #64C0A9;
    color: white;

    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

.categoria-4 {
    background-color: #64C0A9;
    color: white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

.categoria-5 {
    background-color: #F29E33;
    color: white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

.categoria-6 {
    background-color: #D863A1;
    color: white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
}